@import '../../../styles/_colors';

.unseen-msgs-count{
    border-radius: 15px;
    background-color: $primary-color;
    text-align: center;
    width: fit-content;
    padding: 3px 7px;
    justify-self: end;
  }