.welcome{
    font-weight: 700;
    font-size: 27px;
    color: #262f3c;
}

.innerform{
    margin-top: 5%;
    width: 30%;
}

.innerform > p{
    font-weight: 400;
    font-size: 16px;
}

#country-label{
    margin-top: 15px;
    margin-bottom: 15px;
}

.countries{
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #f1f1f1;
    padding-left: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
}

.innerform > input{
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #f1f1f1;
    height: 40px;
}

.innerform > input:focus, .countries:focus{
    outline: none;
    background-color: #f1f1f1;
}

