@import "../../../styles/colors";

.settings-section-title {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.setting-menu-item {
  display: flex;
  text-decoration: none;
  color: #555;
  padding: 8px 0;
  gap: 16px;
  align-items: center;

  &:hover {
    color: red;
  }

  &.active {
    color: $primary-color;
  }
}

.settings-main-body {
  flex: 10;
}
