@import "../../../styles/colors";

.settings-section-title {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.setting-menu-item {
  display: flex;
  text-decoration: none;
  color: #555;
  padding: 8px 0;
  gap: 16px;
  align-items: center;

  &:hover {
    color: $primary-color;
  }

  &.active {
    color: $primary-color;
    font-weight: 600;
  }
}

.settings-main-body {
  flex: 10;
  overflow-y: auto;

  .setting-sections-wrapper {
    margin: 10px;
    margin-top: 0;
    background-color: #fff;
  }
}
