@import '../../styles/_colors';

$chat-title-shadow: darken($accent-color, 75.29);

#chat-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0px 20px;
    z-index: 1;
    height: 56px;

    .conv-title{
        font-size: 1.3em;
    }

    .delete-icon{
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 100%;
        &:hover{
            background-color: #aaa;
        }
    }

}