.outer-section-wrapper {
  display: flex;
  // height: 100%;
  min-height: 80%;
  margin: 20px auto 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow-y: hidden;
  max-width: 95%;
}
