@import "../../styles/colors";

.chat-widget-settings {
}

.tabs {
  display: flex;
  padding: 10px 20px;
  gap: 20px;

  .tab {
    padding: 5px 5px 10px;
    cursor: pointer;

    &.active {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}
