.panelprogressbar{
    display: flex;
    margin-top: 2.8%;
    margin-left: 13%;
}
.panelprogressbar > p > span{
    font-weight: bolder;
}
.panelprogressbar > p{
    font-size: 15px;
}
.paneldotcontainer{
    margin-left: 10px;
}
.paneldot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

.paneldot-active {
    height: 10px;
    width: 10px;
    background-color: #50627c;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

.panelstepsContainer{
    margin-left: 14%;
    margin-top: 4%;
    height: 400px;
}
