@import "../../styles/_colors";

$input-border-color: darken($accent-color, 6.5%);
$input-text-color: darken(adjust-hue($primary-color, -155), 23.33);
$chat-form-top-border: darken($accent-color, 12.16);

#chat-form {
  background: #fff;
  border-top: 1px solid $chat-form-top-border;
  position: relative;

  .actual-input,
  .input-controls {
    padding: 0 20px;
  }

  .actual-input {
    padding-top: 10px;
    padding-bottom: 10px;

    .chat-input {
      width: 100%;
      font-size: 0.9em;
      max-height: 200px;
    }

    .inputText {
      flex: 1 0 0;
      color: $input-text-color;
      outline: none;
      background: transparent;
      border: none;
    }

    .primary-button {
      flex: 0 0 60px;
      font-size: 0.8em;
      border-radius: 6px;
      border: none;
    }

    &.whisper {
      background-color: $whisper-msg-bg;
    }
  }

  .input-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;

    .input-controls-left {
      display: flex;
      align-items: center;
      gap: 20px;

      .msg-type {
        color: #999;
        cursor: pointer;
        padding-bottom: 8px;
        font-size: 0.9em;

        &:hover:not(.active) {
          color: #000;
        }
        &.active {
          color: $primary-color;
          border-bottom: 2px solid $primary-color;
        }
      }
    }

    .input-controls-right {
      display: flex;
      align-items: center;

      .input-icons {
        border: none;
        font-size: 2.2em;
        padding: 0 7px !important;
        border-radius: 50%;
        color: #999;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
          color: #000;
        }
      }

      button {
        margin-left: 20px;
        padding: 5px 10px !important;
      }
    }
  }

  .emoji-mart-preview {
    display: none;
  }

  #join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    height: 100%;
    padding: 10px 20px;
  }
}
