@import "../../styles/_colors";

$chat-shell-background: lighten($accent-color, 65%);

#chat-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .conversations-wrapper {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: $nav-dark-background-lighter;
  }

  .chat-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
    border-right: 1px solid #ddd;

    .conversationContent {
      flex: 3;
      // background-color: #edeeef;
      overflow-y: auto;
    }
  }

  .client-information-wrapper {
    width: 320px;
  }
}
