@import '../../styles/_colors';

.notification-msg{
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    border-radius: 5px;

    font-size: 0.8em;
    font-style: italic;
    color: $primary-color;
}