@import "../../../styles/colors";
@import "../../../styles/dimensions";

.inner-header {
  line-height: $inner-nav-height;
  padding: $inner-nav-padding;
  background-color: $inner-nav-bg-color;
  border-bottom: $basic-border;

  display: flex;
  justify-content: space-between;

  .title {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 1.3em;
  }
}
