@import "../../../styles/colors";
@import "../../../styles/dimensions";

.inner-header {
  height: $inner-nav-height;
  padding: $inner-nav-padding;
  background-color: $inner-nav-bg-color;
  // border-bottom: $basic-border;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 1.3em;
  }
}
