.flexcontainer {
    display: flex;
    height: 100%;
  }

.formcontainer {
    width: 50%;
}

.adcontainer{
    width: 50%;
    background-color: #f7f9fa;
    height: 695px;
}

.adcontainer > button{
  width: 30%;
  margin-left: 35%;
  padding: 14px 20px;
  margin-top: 3%;
  cursor: pointer;
}

.inputfield-container{
    width: 57%;
    padding: 16px;
    margin-top: 13%;
    margin-left: 7%;
}

.title{
    margin-left: 35%;
    margin-bottom: 10%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  height: 64px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ddd;
  font-size: 18px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signinbtn:hover {
  opacity:1;
}

.signinbtn {
  background-color: #262f3c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float: left;
  width: 100%;
  height: 64px;
  font-size: 18px;
  margin-bottom: 8%;
}

.createaccount{
    color: #808080;
    margin-left: 10%;
}

.createaccount > span{
  color: #262f3c;
  opacity: 1;
}

#noaccount{
  font-size: 46px;
  width: 30%;
  margin-left: 35%;
  margin-top: 23%;
}
