@import "../../styles/colors";
@import "../../styles/dimensions";

.visitors-wrapper {
  display: flex;
  height: 100vh;
}

.visitors-nav {
  width: 300px;

  .visitor-nav-item {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #ddd;
    }
  }
}

.visitors-list-wrapper {
  flex: 10;
  margin: 10px;
  margin-top: 0;
  background-color: #fff;
  height: fit-content;
}

.visitor-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
