.popup-container {
  position: absolute;
  z-index: 99999;
  padding: 5px 0;
  list-style: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}
